* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

#__next {
  background-color: #f6f7fb;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  color: #f6f7fb;
}

a {
  color: inherit;
  text-decoration: none;
}
